.open {
  transform: translateY(0);
  transition-duration: 400ms;
}

.close {
  transform: translateY(-140%);
  transition-duration: 400ms;
}

.menuWrapper::-webkit-scrollbar {
  display: none;
}

.menu {
}